@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.Navbar{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 125px;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}

.website-name{
    display: flex;
    margin-left: 3%;
    text-decoration: none;
}

.navbar-buttons{
    display: flex;
    margin-right: 25px;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 30%;
}

.mr{
    font-family: 'Livvic', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: black;
}

.malonzo{
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #867D32;
}

.malonzo:hover{
    animation: logo-animation 2s linear;
    animation-iteration-count: infinite;
}

@keyframes logo-animation{
    0%{ color:#867D32;}
    25%{ color:#3c8632;}
    50%{color: #557A95;}
    75%{color: #558895;}
    100%{ color:#867D32;}
}


.navbar-button-text{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color:#557A95;
    transition: color 0.5s ease;
}

.navbar-button-text:hover{
    color:#867D32;
}

